/* BODY DESIGN */
body{
    font-family: 'Poppins', sans-serif;
}

/* CAROUSEL */
.custom-carousel{
    top: 35%;
}

/* BACKGROUND COLOR */
.cyan-blue-bg{
    background-color: #0d6efd;
}

/* TEXT COLOR */
.cyan-blue-color{
    color: #0d6efd;
}



/* media Queries */
@media only screen and (max-width: 767px) {
    .custom-carousel h1 {
        font-size: 16px;
    }

    .custom-carousel p {
        font-size: 12px;
        margin-bottom: 5px;
    }
}